@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Saira+Condensed&display=swap');

:root {
  --primary: #F7F7F7;
  --secondary: #43D8C9;
  --third: #95389E;
  --fourth: #100303;
  --pri-font: 'Orbitron', sans-serif;
  --sec-font: 'Saira Condensed', sans-serif;
}

#jumbo-h1 {
  font-size:5vw;
  font-family: var(--pri-font);
  color: var(--primary);
}

.output {
  background-color: var(--primary);
  width: 100%;
  height: 60vh;;
  border-radius: 20px;
}

#schedule-box {
  display: flex;
  flex-direction: column;
  font-size: 1.5vw;
  font-family: var(--sec-font);
  height: 65vh;
  overflow: auto;
}

#schedule-box::-webkit-scrollbar {
  display: none;
}

#time-box {
  display: flex;
  flex-direction: row;
}

#time-id {
  font-size: 1.5vw;
  color: var(--secondary);
  padding: 20px;
}

#time-box-row {
  width: 100%;
  min-height: 8vh;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid var(--primary);
}

#time-box-row:hover {
  background-color: #464646;
}

#event-box {
  min-width: 20vw;
  background-color: var(--secondary);
  color: var(--fourth);
}

#event-box:hover {
  background-color: var(--primary);
  transform: scale(1.1);
}
